body{
    background-color: #336bf9;
    color: #f9fcfc;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 10px 20px;
    background-color: rgb(202, 242, 139);
    border-style: none;
}
input {
    height: 34px;
  }